/* status_display */
#status_display {
    display: flex;
    min-height: 2.5em;
    align-items: flex-start;
    justify-content: flex-start;
}
#status_display p {
    font-size: .85em;
    font-family: monospace;
    color: var(--body-text-color-subdued);
}

/* server_name */
#server_name {
    display: flex;
    min-height: 2.5em;
    align-items: flex-end;
    justify-content: flex-end;
}
#server_name p {
    font-size: .85em;
    font-family: monospace;
    color: var(--body-text-color-subdued);
}

/* description_bottom */
#description_bottom p {
    line-height: 0.8; /* Adjust line height to control spacing between lines */
    margin: 0.4em 0; /* Adjust top and bottom margins to control spacing between paragraphs */
}


/* download_files_container */
#download_files_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* file_types */
#file_types {
    display: flex;
    justify-content: center;
}

/* submit_button_container */
#submit_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* msg_box */
#msg_box textarea {
    font-size: 16px;
}

/* Custom styles for mobile responsiveness */
@media (max-width: 768px) {
    /* Target the row that contains the group and placeholder */
    #custom-row {
        flex-direction: column;
    }
}